@import "src/config.scss";
.question-container {
    background-image: url(../../img/back.png);
    background-repeat: repeat;
    width: 80%;
    min-height: 80vh;
    box-shadow: 8px 7px 15px -3px #73c4b7;
    color: rgb(20, 55, 100);
    font-weight: 600;
    .question {
        width: 60%;
        margin: 10px auto;
        text-transform: uppercase;
        margin-bottom: 50px;
        h4 {
            text-align: center;
        }
        p {
            text-align: center;
            font-size: 16px;
            text-align: justify;
        }
    }
    hr {
        box-shadow: 4px -1px 4px 0px #73c4b7;
    }
    .option-container {
        margin-top: 4%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        .btn {
            width: 50%;
            height: 60px;
            margin-bottom: 25px;
            font-size: 30px;
            background: white;
            display: flex;
            padding: 0 20px;
            align-items: center;
            border-radius: 10px;
            box-shadow: 8px 7px 15px -3px #73c4b7;
        }
        .active:hover {
            background: rgb(80, 210, 210);
            color: white;
            .option-number {
                background: rgb(15, 55, 100);
                box-shadow: 8px 7px 15px -3px #4c5c59;
            }
        }
        .option-number {
            width: 30px;
            height: 30px;
            font-size: 8px;
            padding: 5px;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #dcfffa;
            margin-right: 20px;
            box-shadow: 8px 7px 15px -3px #73c4b7;
        }
        .option-text {
            p {
                line-height: 10px;
                font-size: 16px;
            }
        }
    }
}